
* {
	margin:0;
	padding:0;
}

html, body {
	width: 100vw;
	height: 100vh;
	background: url('../images/bg.png') no-repeat;
	background-size: 100% 100%;
	background-color: #f00;
	overflow: hidden;
}

i {
	font-style: normal;
}

.ell-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.top-logo-btn {
	position: absolute;
	top: 5vh;
	left: 2vw;
	width: 16vw;
	height: 5vh;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
}

.container .user-center {
	position: relative;
	z-index: 9;
}

.container .user-container {
	position: relative;
	z-index: 5;
}

.container .user-center .title {
	position: absolute;
	top: 70vh;
	left: 50%;
	margin-left: -17vw;
	width: 36.04vw;
	height: 27.32vh;
}

.container .user-center .gift-img {
	position: absolute;
	top: 6vh;
	left: 50%;
	margin-left: -24vw;
	width: 54.2vw;
	height: 74.1vh;
}

.container .user-center .code {
	position: absolute;
	height: 40vh;
	left: 39.5vw;
	top: 31.5vh;
	border-radius: 1vh;
}

.container .user-container {
	position: absolute;
	top: 12vh;
	bottom: 12vh;
	left: 0;
	right: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
}

/*组件主样式*/
.tanmuContent {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	clear: both;
	padding: 0 0.5vw;
	border-radius: .2rem;
	box-sizing: border-box;
	width: 20vw;
	height: 5vh;
	line-height: 5vh;
	background-color:rgba(1,1,1,0.1);
	font-size: .1rem;
	color: #fff;
	animation: colorchange 3s infinite alternate;
	-webkit-animation: colorchange 3s infinite alternate;
}

.avatar {
	width: 4vh;
	height: 4vh;
	margin: -1vh 0.2vw 0 0;
	border-radius: 50%;
	vertical-align: middle;
}

.color {
	color: #EFA227;
	margin-left: 0.8vw;
}

@keyframes colorchange {
	0% {
		color: fff;
	}

	50% {
		color: fff;
	}

	100% {
		color: #fff;
	}
}
