
* {
	margin:0;
	padding:0;
}

html, body {
	width: 100vw;
	height: 100vh;
	background: url('../images/bg1.png') no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

i {
	font-style: normal;
}

.ell-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.top-logo-btn {
	position: absolute;
	top: 5vh;
	left: 2vw;
	width: 16vw;
	height: 5vh;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
}

.lottery-container .lottery-right .setting{
	position: absolute;
	top: 20vh;
	right: 14vw;
	width: 29.4vw;
	height: 60.56vh;
}

.lottery-container .lottery-right .title {
	position: absolute;
	top: 24vh;
	right: 26vw;
	color: #E13907;
	font-size: 0.14rem;
}

.lottery-container .lottery-right .title .num {
	color: #999;
	font-size: 0.1rem;
	margin-left: 0.5vw;
}

.lottery-container .lottery-right .select_lucky_number {
	position: absolute;
	top: 30vh;
	right: 26vw;
	width: 5vw;
	height: 5vh;
	border: none;
	background: rgba(0, 0, 0, .1);
	padding: 0 0.5vw;
	border-radius: 0.2vw;
	text-align: center;
	font-size: 0.14rem;
}

.lottery-container .lottery-right .select_lucky_number:focus {
	outline: 0;
}

.lottery-container .lottery-right .button {
	position: absolute;
	bottom: 25vh;
	right: 20vw;
	width: 15vw;
	height: 6vh;
	color: #fff;
	font-size: 0.1rem;
}

.lottery-container .lottery-right .button .button-img {
	width: 15vw;
	height: 6vh;
}

.lottery-container .lottery-right .button .start {
	position: absolute;
	width: 15vw;
	height: 5vh;
	line-height: 5vh;
	left: 0;
	top: 0;
	text-align: center;
	font-size: .1rem;
}

::-webkit-input-placeholder {
	font-size: 0.08rem;
}
::-moz-placeholder { 
	font-size: 0.08rem;
}
:-ms-input-placeholder {
	font-size: 0.08rem;
}
:-moz-placeholder {
	font-size: 0.08rem;
}
