<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/rem.js"></script>
  <script src="../js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <img class="top-left" src="../images/top-left.png" alt="">
  <img class="top-right" src="../images/top-right.png" alt="">
  <img class="top-logo" src="../images/logo.png" alt="">
  <button class="top-logo-btn" id="goLottery"></button>
  <img class="footer" src="../images/footer.png" alt="">

  <div class="container">
    <div class="user-left">
      <div>
        <img class="title" src="../images/title.png" alt="">
        <div class="gift">
          <img class="gift-img" src="../images/gift.png" alt="">
          <img class="code" src="../images/code.png" alt="">
        </div>
      </div>
    </div>
    <div id="user" class="user-middle"></div>
    <div class="user-right">
      <div>
        <img class="title" src="../images/title.png" alt="">
        <div class="gift">
          <img class="gift-img" src="../images/gift.png" alt="">
          <img class="code" src="../images/code.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>