<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript">
    var count = 0
    function init() {
      // 获取数据 所有已登记用户信息
      let data = {
        "nick_name": "我在乎你在乎的我" + count,
        "avatar_url": "https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eqFQ0gs98ltXbUa80KlK08OJWPxKoxobJwevW6X7xHNlnXo4HwpN1Micsjgm9RhPF9HibRdNODnbNGQ/132" + count,
        "mobile": "234567" + count
      }
      $.ajax({
        type: "post",
        url: "https://nianhui.cloudmas.cn/lottery/draw/2023",
        // dataType: "json",
        contentType: 'application/json',
        async: true,
        data: JSON.stringify(data),
        success: function (res) {
          count++
          // alert('success:' + JSON.stringify(res))
        },
        error: function (err) {
          alert('error' + JSON.stringify(res))
        }
      })
    }

    // init()
    let timer = setInterval(function () {
      init()
      if (count >= 200) {
        clearInterval(timer)
      }
    }, 500)
  </script>
</body>

</html>